$under: black;
$fontColor: white;

$headFontS: 5vw;
$headFontL: 3vw;

$back: rgb(36, 36, 36);
$back2: rgb(65, 65, 65);

$borderRadius: 16px;
$border: solid 1px gray;

body {
  background-color: $back;
}
.links {
  display: flex;
  justify-content: flex-end;
}

div {
  margin-right: 30px;

  ul {
    display: flex;
    gap: 30px;
  }
}

a {
  text-decoration: none;
  color: $fontColor;
}

a:visited {
  color: $fontColor;
}
a:hover {
  text-decoration: solid underline 1px $fontColor;
}

li {
  list-style: none;
}

// SEACRH BAR:

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: $headFontS;
  color: $fontColor;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40vw;
  gap: 15px;

  input[type="text"] {
    width: 30vw;
    height: 15px;

    color: $fontColor;

    border: $border;
    border-radius: $borderRadius;
    background-color: $back;
  }

  input[type="submit"] {
    align-self: center;

    padding: 5px;
    width: 18vw;
    color: $fontColor;

    border: solid 1.5px $back;
    border-radius: 5px;
    background-color: $back2;
  }

  input[type="submit"]:hover {
    border: solid 1.5px gray;
    color: white;
  }
}

// MEDIA QUERIES:

@media (max-width: 625px) {
  form {
    input[type="submit"] {
      font-size: 10px;
      padding: 5px;
    }
  }
}

@media (min-width: 825px) {
  .heading {
    font-size: $headFontL;
  }

  form {
    input[type="text"] {
      height: 28px;
      font-size: 15px;
    }
    input[type="submit"] {
      width: 10vw;
      height: 30px;

      font-size: 10px;
      padding: 5px;
    }
  }
}
